<%= content_for :footer_javascript do %>
  <%= javascript_include_tag 'app' %>
  <%= javascript_include_tag 'app_start' %>
  <script>
    App.router.get('applicationController').set('channel', "<%= @channel %>");
    App.router.get('applicationController').set('place', "<%= @place %>");
    
    App.set('messageCenter', App.MessageCenter.create({
      pusher_key: '<%= Pusher.key %>',
      channel_name: '<%= @channel %>',
      place: '<%= @place %>'
    }));
  </script>
<% end %>

<div id="ember-app">
  
</div>

