<%= content_for :footer_javascript do %>
  <%= javascript_include_tag 'app' %>
  <%= javascript_include_tag 'app_start' %>
  <script>
    App.router.get('applicationController').set('channel', "<%= @channel %>");
    App.router.get('applicationController').set('place', "<%= @place %>");
  </script>
<% end %>

<%= content_for :footer_javascript do %>
  <script>
    $(document).ready(function() {
      var pusher = new Pusher('<%= Pusher.key %>');

      window.channel = pusher.subscribe('<%= @place_name %>');
      window.channel.bind('client-chat', function(data) {
        alert(data.greeting);
      });
    });
  </script>
<% end %>

<div id="ember-app">
  
</div>

