<!DOCTYPE html>
<html>
  <head>
    <title><%= AppConfig.name %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= body_class %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to AppConfig.name, root_path, class: "brand" %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <%= yield :footer_javascript %>
  </body>
</html>
